[user]
	name = Michal Opala
	email = sk4zuzu@gmail.com
[alias]
	a = add
	c = "! f(){ [ -n \"$*\" ] && git commit -m \"$*\" || git commit; }; f"
	ca = commit --amend
	co = checkout
	d = diff
	l = log
	s = show
	ss = status
	t = tag

